.caculater{
    display: table;
    margin:0 auto;
}
.caculater ul{
    List-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.caculater li{
    display:table-cell;
}
.caculater button{
    width: 50px;
    height: 50px;
    border-style: none;
    margin:5px;
}
.caculater button:hover{
    background-color: brown;
    color: white;
}
.caculater button:active{
    background-color:black;
    color: white;
}
.caculater input{
    border-style: none;
}


.result ul{
    text-align: right;
}
.result p{
    float: right;
    background-color: white;
    width: 240px;
}
.funButton{
    padding: 20px;
    text-align: center;
}
.funButton button{
    width: 100px;
}