body{
    background-color: peachpuff;
}

h1{
    color:black;
    text-align:center;

}

.navibar{
    display: table;
    margin:0 auto;
}
.navibar ul{
    List-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.navibar li{
    display:table-cell;
}

.navibar a:link,a:visited{
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color: gray;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
.navibar a:hover,a:active{
    background-color: brown;
}